/* PHASE 1: Header */

.main-nav {
  font-family: 'Roboto', sans-serif;
  background-color: red;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  color: white;
  font-weight: bold;
}

.left-nav li, .right-nav li {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 11px 10px;
  margin: 0;
  display: inline;
}

.right-nav, .left-nav {
  display: flex;
}

body {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 16;
}
